$grey: #f4f2f2;
$black: #1f2224;
$lightblack : #2a2d2f;
$textgrey : #a2a1a1;
$blue : #476edb;

@font-face {
		font-family: "Roboto";
		src: url('../fonts/Roboto-Regular.ttf');
		font-weight:400;
}

@font-face {
		font-family: "Roboto";
		src: url('../fonts/Roboto-Bold.ttf');
		font-weight:600;
}

body, html{
	background-color: $grey;
	width: 100%;
	height: 100%;
	display: block;
	padding: 0;
	font-family: "Roboto";
	margin: 0;
}

.container-website{
	display: block;
	width: 100%;
	overflow: hidden;
}

.search-container{
	.s-input{
		display: block;
		width: 100%;
		border: none;
		height: 50px;
		background-color: transparent;
		border-bottom: solid 2px $black;
		padding: 0 10px;
		outline: none;
	}

	.search-div{
		position: relative;
		display: block;
		margin: 20px 0 25px 0;
		height: 50px;

		&:before{
			content: "";
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			margin-top: -2px;
			background-color: $blue;
			height: 2px;
			width: 0;
			z-index: 2;
			transition: width .6s ease-out;
			-moz-transition: width .6s ease-out;
			-ms-transition: width .6s ease-out;
			-webkit-transition: width .6s ease-out;
		}

		&.focus{
			&:before{
				width: 100%;
			}
		}
	}

	&:after{
		content: "";
		position: absolute;
		top: 50%;
		right: 25px;
		height: 16px;
		width: 15px;
		background: url('../svg/search.svg') no-repeat center right;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
}

.left-menu{
	padding: 0;
	width: 20%;
	float: left;
	box-sizing: border-box;
	background-color: $black;

	.logo{
		border-bottom: solid 1px $lightblack;
		padding: 25px 0;
	}

	.links{
		padding: 0;
		margin: 0;
		list-style: none;
		width: 100%;
    display: block;

        li{
          height: 55px;
          display: block;
          padding: 0 30px;
					position: relative;
          width: 100%;
          line-height: 55px;
					border-bottom: solid 1px $lightblack;

          a{
            color: $textgrey;
            text-decoration: none;
            display: block;
						position: relative;
						font-size: 13px;
						letter-spacing: .5px
          }

          .icon{
            right: 0;
						top: 50%;
						transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
            max-height: 18px;
						position: absolute;
            max-width: 18px;
            display: inline-block;
          }

					&:before{
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						height: 0;
						left: 0;
						width: 5px;
						background-color: $blue;
						transition: height .2s ease-out;
						-moz-transition: height .2s ease-out;
						-ms-transition: height .2s ease-out;
						-webkit-transition: height .2s ease-out;
					}

					&:hover{
						&:before{
							height: 100%;
						}
					}
        }
		}
}

.left-menu,
.project-container{
	height:  100vh;
	overflow: hidden;
}

.project-container{
	overflow-x: hidden;
	overflow-y: auto;
	width: 80%;
	float: left;
	box-sizing: border-box;
	padding: 0 15px;

	.grid{
		width: 100%;
		float: left;
	}

	.project-item{
		margin-bottom: 30px;
		display: block;
		background-color: white;
		box-shadow: 0 0 10px rgba(#000000, .2);

		.ctn-img{
			width: 100%;

			img{
				max-width: 100%;
			}
		}

		.informations.impair{
			.project-links{
					.long-link{
					 width: 100%;
				 }
			}
		}

		.project-name{
			display: block;
			width: 100%;
			padding: 20px 25px;
			font-size: 15px;
			font-weight:600;
			color: $black;
			text-decoration: none;
			border-top: solid 1px #f4f2f2;
			border-bottom: solid 1px #f4f2f2;
			position: relative;
			transition: color .6s ease-out;
			-moz-transition: color .6s ease-out;
			-ms-transition: color .6s ease-out;
			-webkit-transition: color .6s ease-out;

			&:hover{
				color: $blue;
			}

			&:after{
				content: "";
				position: absolute;
				top: 50%;
				right: 25px;
				height: 9px;
				width: 14px;
				background: url('../svg/arrow-blue.svg') no-repeat center right;
				transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
			}
		}

		.project-links{
			display: block;
			list-style: none;
			padding: 0;
			overflow: hidden;
			margin: 0;

			li{
				display: block;
				float: left;
				width: 50%;
				border-bottom: solid 1px #f4f2f2;
				position: relative;

				&:nth-child(odd){
					border-right: solid 1px #f4f2f2;
				}

				&:nth-child(n+5):not(.more){
					display: none;
				}

				&:not(.more) a:after{
					content: "";
					position: absolute;
					top: 50%;
					right: 25px;
					height: 5px;
					width: 8px;
					background: url('../svg/arrow-black.svg') no-repeat center right;
					transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}

				a{
					padding: 15px 25px;
					color: grey;
					font-size: 12px;
					display: block;
					text-decoration: none;
					transition: color .6s ease-out;
					-moz-transition: color .6s ease-out;
					-ms-transition: color .6s ease-out;
					-webkit-transition: color .6s ease-out;

					&:hover{
						color: $blue;
					}
				}

				&.more{
					cursor: pointer;
					width: 100%;
					border: none;
					height: 34px;
					background: url('../svg/arrow-bottom.svg') no-repeat center center;
				}
			}

			&.open{
				li:nth-child(n+5){
					display: block;
				}

				.more{
					background: url('../svg/arrow-top.svg') no-repeat center center;
				}
			}
		}
	}
}
